<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user details</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/gallery.css">
    <link rel="stylesheet" href="/css/places.css">
    <link rel="stylesheet" href="/css/footer.css">
    <style>
        body {
            margin-top: 100px;
            background-color: rgba(215, 250, 245, 0.949);

        }

        table,
        th,
        td {
            border: 2px solid rgb(16, 107, 6);
            border-collapse: collapse;
            width: 1200px;
            height: 50px;
            text-align: center;
            color: red;
        }

        table {
            margin-left: auto;
            margin-right: auto;
        }

        th {
            font-size: 20px;
        }

        td {
            width: 500px;
            height: 50px;
            font-size: 15px;
        }

        td:nth-child(odd),
        th:nth-child(even) {
            background-color: rgb(71, 236, 248);
        }

        td:nth-child(even),
        th:nth-child(odd) {
            background-color: rgba(246, 246, 122, 0.952);
        }

        .btn {
            background-color: red;
            color: black;
            height: 30px;
            width: 100px;
        }
    </style>
</head>

<body>
    <header>
        <div id="menu-bar" class="fas fa-bars"></div>

        <a href="/" class="logo"><span>P</span>ACK <span>U</span>R <span>B</span>AGS</a>
        <nav class="navbar">
            <a href="/admins/adminland/<%= user.email%>">Home</a>
        </nav>
    </header>
    <table>
        <tr>
            <th>name</th>
            <th>email</th>
        </tr>
        <% for(const i of model) {%>
            <tr>
                <td>
                    <%- i. email %>
                </td>
                <td style="text-transform:none;">
                    <%- i. detail %>
                </td>
            </tr>
            <%}%>
    </table>
</body>

</html>