<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tours and Travel Landing Page</title>

    <!-- For zoom-in and fade-up -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- Custom CSS Link... -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/gallery.css">
    <link rel="stylesheet" href="/css/places.css">
    <link rel="stylesheet" href="/css/footer.css">



    <!-- Font Awesome Link... -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- FAVICON  -->
    <link rel="icon" href="/img/images/fav1.png">

    <!-- Script for animation and swiper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>

<body>


    <div class="arrow" id="arrow">
        <a href="#home"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    </div>

    <header>
        <div id="menu-bar" class="fas fa-bars"></div>
    
        <a href="/" class="logo"><span>P</span>ACK <span>U</span>R <span>B</span>AGS</a>
        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#gallery">Gallery</a>
            <a href="#bottom">Places</a>
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#bottom">Reviews</a>
            <a href="#bottom">Contact</a>
        </nav>
        <div class="icons navbar">
            <!-- <i class="fas fa-search" id="search-btn"></i> -->
            <!-- <% if(locals.user == null) {%> -->
                <a href="login"><i class="fa fa-user" aria-hidden="true" id="login-btn"></i></a>
                <!-- <a href="/">LogOut</a> -->
                <!-- <% } %> -->
            <!-- <% if(locals.user != null) {%>
            <a href="/profile/profile/<%=user.email%>"><i class="fa fa-user" aria-hidden="true" id="login-btn"></i></a>
            <a href="/">LogOut</a>
            <% } %> -->
        </div>
        <form action="" class="search-bar-container">
            <input type="search" id="search-bar" placeholder="Search here..">
            <label for="search-bar" class="fas fa-search"></label>
        </form>
    </header>
    <!-- Header Section Ends here... -->

        <!-- Home Section Starts... -->
        <section class="home" id="home">
            <div class="content">
                <% if(locals.user != null) {%>
                <h3>Welcome <%=user.name %>!</h3>
                <% } %>
                <h3>travelling is worthwhile</h3>
                <p>discover new places with us, adventure awaits</p>
                <a href="#gallery" class="btn">discover more</a>
            </div>
            <div class="video-container">
                <video src="/img/images/vid-1.mp4" loop autoplay muted></video>
            </div>
        </section>
        <!-- Home Section Ends... -->

        <!-- gallery section starts here -->

        <section class="gallery" id="gallery">
            <h1 class="heading">
                <span>g</span>
                <span>a</span>
                <span>l</span>
                <span>l</span>
                <span>e</span>
                <span>r</span>
                <span>y</span>

            </h1>

            <div class="box-container">

                <div class="box" data-aos="zoom-in">
                    <img src="/img/images/pack_img/1.jpeg" alt="">
                    <div class="content">
                        <h3>Goa</h3>
                        <p>The top sightseeing places in Goa are Calangute Beach, Basilica of Bom Jesus and more...</p>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in">
                    <img src="/img/images/pack_img/3.jpeg" alt="">
                    <div class="content">
                        <h3>Panaji</h3>
                        <p>The river cruises start from Tourist Jetty on Mandovi river in Panaji town on Old Panaji
                            Road.
                        </p>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in">
                    <img src="/img/images/pack_img/4.jpeg" alt="">
                    <div class="content">
                        <h3>Himachal pradesh</h3>
                        <p>The top things to do in Himachal pradesh are Manali, Shimla, Mcleodganj and more...</p>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in">
                    <img src="/img/images/pack_img/5.jpeg" alt="">
                    <div class="content">
                        <h3>Dalhousie</h3>
                        <p>Dalhousie is a high-altitude across 5 hills near the mountain range in the north Indian.</p>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in">
                    <img src="/img/images/pack_img/6.jpeg" alt="">
                    <div class="content">
                        <h3> Kodaikanal </h3>
                        <p>Kodaikanal is a hill town in the southern Indian state of Tamil Nadu.</p>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in">
                    <img src="/img/images/pack_img/7.jpeg" alt="">
                    <div class="content">
                        <h3>Delhi</h3>
                        <p>Delhi showcases an ancient culture and a rapidly modernising country.</p>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in">
                    <img src="/img/images/pack_img/8.jpeg" alt="">
                    <div class="content">
                        <h3> Ooty </h3>
                        <p>Ooty is a resort town in the Western Ghats mountains, in southern India's Tamil Nadu state.
                        </p>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in">
                    <img src="/img/images/pack_img/9.jpeg" alt="">
                    <div class="content">
                        <h3> kerla </h3>
                        <p>Kerala is famous especially for its ecotourism initiatives and beautiful backwaters.</p>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in">
                    <img src="/img/images/pack_img/10.jpeg" alt="">
                    <div class="content">
                        <h3>Kanyakumari</h3>
                        <p>Kanyakumari is a coastal town in the state of Tamil Nadu on India's southern tip.</p>
                    </div>
                </div>

                <div class="box" data-aos="zoom-in">
                    <img src="/img/images/pack_img/11.jpeg" alt="">
                    <div class="content">
                        <h3>Araku Valley</h3>
                        <p>Araku Valley is a hill station and valley region in the southeastern Indian state of Andhra
                            Pradesh</p>
                    </div>
                </div>

                <div class="box" data-aos="zoom-in">
                    <img src="/img/images/pack_img/13.jpg" alt="">
                    <div class="content">
                        <h3> Agra </h3>
                        <p>One of the seven wonders of the world, Taj Mahal is located on the banks of River Yamuna in
                            Agra...</p>
                    </div>
                </div>

            </div>
        </section>
        

        <section class="about" id="about">
            <h1 class="heading">
                <span>a</span>
                <span>b</span>
                <span>o</span>
                <span>u</span>
                <span>t</span>

            </h1>
            <p>Travelling is a little adventure where you get memories and experiences of a liftime. To travel is to
                live.
                You will always be fascinated by the beauty of this world and pondered with the question "where to
                next".
                But you need not worry about this because with our assistance and guidance you can easily figure out
                where
                you would like to go. We constantly work to amuse you and find a way for you to relax. We are here for
                you!
            </p>
        </section>

        <!-- about section ends here-->

        <!-- Services Section -->
        <section class="services" id="services">

            <h1 class="heading">
                <span>s</span>
                <span>e</span>
                <span>r</span>
                <span>v</span>
                <span>i</span>
                <span>c</span>
                <span>e</span>
                <span>s</span>
            </h1>

            <div class="box-container">

                <div class="box" data-aos="zoom-in">

                    <i class="fas fa-hotel"></i>
                    <h3>affordable hotels</h3>
                    <p>People will forget what you said, forget what you did, but people will never forget how you made
                        them
                        feel. So, it has been, and continues to be, our responsibility to fill the soul with the light
                        and
                        warmth of hospitality.</p>
                </div>
                <div class="box" data-aos="zoom-in">
                    <i class="fas fa-utensils"></i>
                    <h3>food and drinks</h3>
                    <p>We have been partners with wide range of hotels whose top priority is to provide quality food to
                        their customers because food is culture, habit, craving and identity.</p>
                </div>
                <div class="box" data-aos="zoom-in">
                    <i class="fas fa-bullhorn"></i>
                    <h3>safty guide</h3>
                    <p>At the end of the day, the goals are safety and security. We go to great lengths in order to
                        ensure
                        the safety of our tourists.</p>
                </div>
                <div class="box" data-aos="zoom-in">
                    <i class="fas fa-globe-asia"></i>
                    <h3>around the world</h3>
                    <p>travel faster:If you wish to travel far and fast, travel light. Take off all your envies,
                        jealousies,
                        unforgiveness, selfishness, fears to travel and explore the world.</p>
                </div>
                <div class="box" data-aos="zoom-in">
                    <i class="fas fa-plane"></i>
                    <h3>fastest travel</h3>
                    <p>Travel makes one modest, you see what a tiny place you occupy in the world. So just travel
                        without
                        any regrets.</p>
                </div>
                <div class="box" data-aos="zoom-in">
                    <i class="fas fa-hiking"></i>
                    <h3>adventures</h3>
                    <p>Only those who risk going too far can possibly find out how far they can go.Life is either a
                        daring
                        adventure or nothing at all..Always say yes to new adventures.</p>
                </div>

            </div>

        </section>

        <div class="logindirect box" id="bottom" >
            <p><i class="fa fa-arrow-right"></i> please <a href="login"><button type="button" class="login-btn">Login</button></a> to continue</p>
        </div>
            <!-- custom js file link  -->
            <script src="js/script.js"></script>

            <script>

                AOS.init({
                    duration: 800,
                    delay: 200
                });

            </script>
</body>

</html>