<header>
    <div id="menu-bar" class="fas fa-bars"></div>

    <a href="/" class="logo"><span>P</span>ACK <span>U</span>R <span>B</span>AGS</a>
    <nav class="navbar">
        <a href="/index/index/<%=user.username%>">Home</a>
        <a href="#packages">Packages</a>
        <a href="#d1">Hotels</a>
        <a href="/review">Reviews</a>
        <a href="#footer">Contact</a>
    </nav>
    <div class="icons navbar">
        <!-- <i class="fas fa-search" id="search-btn"></i> -->
        <% if(locals.user == null) {%>
            <a href="login"><i class="fa fa-user" aria-hidden="true" id="login-btn"></i></a>
            <% } %>
        <% if(locals.user != null) {%>
        <a href="/profile/profile/<%=user.username%>"><i class="fa fa-user" aria-hidden="true" id="login-btn"></i></a>
        <a href="/">LogOut</a>
        <% } %>
    </div>
</header>