<header>
    <div id="menu-bar" class="fas fa-bars"></div>

    <a href="/" class="logo"><span>P</span>ACK <span>U</span>R <span>B</span>AGS</a>
    <nav class="navbar">
        <a href="/index">Home</a>
        <a href="#gallery">Gallery</a>
        <a href="#places">Places</a>
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#review">Reviews</a>
        <a href="#cont">Contact</a>
    </nav>
    <div class="icons navbar">
        <i class="fas fa-search" id="search-btn"></i>
        <% if(locals.user == null) {%>
            <a href="login"><i class="fa fa-user" aria-hidden="true" id="login-btn"></i></a>
            <!-- <a href="/">LogOut</a> -->
            <% } %>
        <% if(locals.user != null) {%>
        <a href="/profile/profile/<%=user.username%>"><i class="fa fa-user" aria-hidden="true" id="login-btn"></i></a>
        <a href="/">LogOut</a>
        <% } %>
    </div>
    <form action="" class="search-bar-container">
        <input type="search" id="search-bar" placeholder="Search here..">
        <label for="search-bar" class="fas fa-search"></label>
    </form>
</header>
<!-- Header Section Ends here... -->