a {
  text-decoration: none;
}


#log {
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

body {
  /* margin-top: 140px; */
  background-image: url(./../img/images/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  font-size: 75%;
  text-align: center;
  transform-style: preserve-3d;
}

.form-container {
  position: relative;
  height: 550px;
  width: 600px;
  background: rgba(145, 145, 145, 0.651);
  padding: 20px 30px;
  perspective: 1000px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.623);
  animation-name: moving;
  animation-duration: 1s;
  margin-top: 9%;
  margin-left: 28%;
}

@keyframes moving {
  from {bottom: 100px;}
  to {bottom: 0;}
}

.top-btn{
  background-color: #020202;
  color: aliceblue;
  width: 500px;
  margin-left: 25px;
  padding: 5px 20px;
  text-align: center;
}

.reg-btn{
  padding: 10px 30px;
  cursor: pointer;
  position: relative;
  margin: 0 40px;
  background: transparent;
  font-size: 15px;
}

.reg-btn:hover{
  color: #333;
  text-decoration: underline;
}

.form-container form {
  position: relative;
  margin: 0 2rem;
  padding: 1rem 2rem;
}
  
.form-container .box {
  width: 100%;
  /* background-color: whitesmoke; */
  padding: 0.9rem 1rem;
  font-size: 1.7rem;
  /* color: rgb(51, 51, 51); */
  margin: 0.4rem 0;
  border: none;
  /* border: 0.1rem solid rgba(0, 0, 0, 0.3); */
  text-transform: none;
}

.form-container input{
  width: 90%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  background-color: whitesmoke;
}

.form-container .login-btn {
  display: inline-block;
  margin-top: 1rem;
  background: #020202;
  color: white;
  padding: 0.8rem 2rem;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 20px;
}

.log-alert{
  height: 50px;
  width: 450px;
  background-color: rgba(255, 0, 0, 0.828) !important;
  color: white !important;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  padding: 0px 20px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  border: none !important;
}

.log-suc{
  height: 50px;
  width: 450px;
  background-color: rgba(0, 255, 30, 0.948) !important;
  color: white !important;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  padding: 0px 20px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  border: none !important;
}

.btn-close{
  background-color: white !important;
  color: white !important;
  margin-top: 5px !important;
}

.form-container .login-btn:hover {
  background: rgba(54, 54, 53, 0.774);
}
  
#remember {
  margin: 0.5rem 0;
}
  
.form-container form label {
  font-size: 1.5rem;
}
  
.form-container .btn {
  display: block;
  width: 100%;
}
  
.form-container p {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: solid black;
  font-weight: 500;
}
  
.form-container a {
  color: var(--blue);
}
  
.form-container a:hover {
  color: #333;
  text-decoration: underline;
}
  